body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.payment-button img {
    width: 200px;
    height: auto;
    transition: 0.3s;
}

.payment-button img:hover {
    opacity: 0.7;
}